@import url("main.css");
h3{
    float: inline-end;
    color: orangered;
    text-align: center;
}
p{
    text-align: center;
    float: inline-end;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:orangered;
}
.akcios-termekek{
	margin-top: 8%;
	margin-left: 28%;
	display:flex;
	align-items: center;
	justify-content:center;
	background-color:white;
	width:45%;
}
.akcios-termekek .termek{
	margin-top:20px;
	display:flex;
	flex-flow:column;
	align-items: center;
	justify-content:center;
	text-decoration: none;
	color:orangered;
	opacity:100%;
}
.akcios-termekek .termek:hover{
	color:blue;
}
.akcios-termekek .termek .ar{
	font-size:11pt;
	color:orangered;
}
.akcios-termekek .termek .akcio_ar{
	font-size:10pt;
	color:black;
	text-decoration: line-through;
}
.akcios-termekek .termek-rejtett{
	display:none;
}

/*mobil css*/
@media screen and (max-width: 900px) {
	
.akcios-termekek{
	font-size:9pt;
	width:100%;
	margin-left: 0;
	margin-top: 110px;
}
.akcios-termekek .termek .ar{
	font-size:6pt;
	margin-bottom:10px;
}
.akcios-termekek .termek .akcio_ar{
	font-size:5pt;
}
.akcios-termekek img{
	width: 100px;
	height: 110px;
}
h3{
	font-size:8pt;
}
p{
	font-size:6pt;	
}

}