@import url("main.css");
h3{
    margin-top: 150px;
    float: inline-end;
    color: orangered;
    text-align: center;
}
p{
    text-align: center;
    float: inline-end;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:orangered;
}
#akcioskep{
	
	height: 50px;
	width: 100px;
	border-radius: 8px;
}
