/*fo css fajl, minden oldal importalja*/
/**/
/*body allitasa*/
body {background-color : rgb(0, 0, 0);
    font-family: cursive, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    color:orangered;
}
/*html allitasa*/
html {
	height: 100%;
}
/*lablec allitasa*/
#lablec{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  border-top-style: solid;
  border-top-color:orangered;
  text-align:center;
}
/*focim-alcim allitasa*/
#focim{
     margin: 0;
     padding: 0;
     background-color : rgb(197, 197, 197);
     text-align: center;
     font-size: 30px;
     color: orangered;
}
#alcim {
    margin: 0;
    padding: 0;
    background-color : rgb(197, 197, 197);
    text-align: center;
    font-size: 18px;
    color: orangered;
    border-bottom: black;
    border-style: none none solid none;
} 
/*ui-elemek uzemelteto oldalon*/
#rendelesek{
display: none;
float: right;
 padding-top: 10px;
 text-align: center;
 margin-right: 30px;
}
#termekv{
display: none;
float: right;
 padding-top: 10px;
 text-align: center;
 margin-right: 30px;
}
#termekv a{
	text-decoration:none;
	color:blue;
}
#rendelesek a{
	text-decoration:none;
	color:blue;
}
#termekv a:visited{
	text-decoration:none;
	color:blue;
}
#rendelesek a:visited{
	text-decoration:none;
	color:blue;
}
#termekv a:hover{
	text-decoration:underline;
	color:orangered;
}
#rendelesek a:hover{
	text-decoration:underline;
	color:orangered;
}
/*lista elemek (menuhoz)*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 1px 0 0 0 ;
    overflow: hidden;
    background-color: rgb(197, 197, 197);
  }
/*menu*/
.menuelem {
    float: left;
}
  
.menuelem a {
    display: block;
    color: orangered;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
  }
  
.menuelem a:hover {
    background-color: rgb(0, 0, 0);
  }
#aktiv-oldal{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
.legrodulo{
position: relative;
display: inline-block;
}
.legordulo-gomb{
    background-color: rgb(197, 197, 197);
    color: orangered;
    padding: 14px 16px;
    border: none;
    text-align: center;
    font-family: cursive, 'Times New Roman', serif;
    font-size: 12pt;
    border-radius: 20px;
}
.legordulo-tartalom-kategoriak{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
    border-radius: 20px;
}
.legordulo-tartalom-kategoriak a{
  background-color: rgb(197, 197, 197);
  color: orangered;
  padding: 14px 16px;
  display: block;
}
.legordulo-tartalom-kategoriak a:hover{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}
.legordulo:hover .legordulo-tartalom-kategoriak {
    display: block;
}
.legordulo:hover .legordulo-gomb {
    background-color: rgb(0, 0, 0);
}
/*kosar gomb*/
#kosar{
float: right;
margin: 0 0 0 0;
padding-top: 5px;
margin-right: 200px;
}
#kosar i{
	font-size: 18px;
}
#kosar span{
	display: inline-block;
	text-align: center;
	background-color: orangered;
	border-radius: 50%;
	color: white;
	font-size: 12px;
	line-height: 16px;
	width: 20px;
	height: 20px;
	font-weight: bold;
	position: absolute;
	top: 80px;
	right: 515px;
}
/*bejelentkezes gomb*/
#bejelentkezes{
  float: right;
  margin: 0 15px 0 0;
  padding-top: 5px;
}
/*kijeletnkezes gomb*/
#kijelentkezes{
margin-right: 15px;
padding-top: 5px;
float: right;
display: none;
}
/*udvozlo szoveg*/
#udv{
  float: right;
  padding-top: 10px;
  text-align: center;
  margin-right: 80px;
  display: none;
}
/*profil link*/
#profil{
display: none;
float: right;
 padding-top: 10px;
 text-align: center;
 margin-right: 30px;
}
/*TERMEKEK*/
.termek-keres{
	display:flex;
	flex-flow:row;
	align-items:center;
	justify-content:center;
	margin-top:50px;
	margin-left:560px;
	background-color:white;
	width:700px;
}
.termek-keres form{
	margin-top:20px;
	margin-bottom:20px;
}
.termek-keres form input[type = "submit"]{
	margin-left: 5px;
	padding: 4px 15px;
	border: 0;
	background: gray;
	color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
.termek-keres form input[type = "submit"]:hover{
	background:orangered;
}
.termekek-egyben {
	width: 1200px;
	margin: 0 auto;
	margin-top:20px;
	background-color:white;
}
.termekek-egyben h1{
	border-bottom-style:solid;
	border-bottom-color:orangered;
	border-bottom-width:2pt;
}
.termekek-egyben p{
	border-bottom-style:solid;
	border-bottom-color:orangered;
	border-bottom-width:1pt;
}
.termekek-egyben .termekek {
	display: flex;
	flex-flow:row;
	flex-wrap: wrap;
	padding: 40px 0 0 0;
}
.termekek-egyben .termekek .termek img {
	transform: scale(1);
	transition: transform 1s;
	margin-left:15px;
}
.termekek-egyben .termekek .termek .nev {
	display: block;
	color: orangered;
	padding: 20px 0 2px 0;
}
.termekek-egyben .termekek .termek .ar {
	display: block;
	color: orangered;
	font-size:15px;
}
.termekek-egyben .termekek .termek .termek-raktaron {
	display: block;
	color: green;
	font-size:20px;
}
.termekek-egyben .termekek .termek .termek-nincs-raktaron {
	display: block;
	color: red;
	font-size:20px;
}
.termekek-egyben .termekek .termek .akcio_ar {
	color: black;
	text-decoration: line-through;
	font-size:12px;
}
.termekek-egyben .termekek .termek:hover img {
	transform: scale(1.05);
	transition: transform 1s;
}
.termekek-egyben .termekek .termek:hover .nev {
	text-decoration: underline;
	color:blue;
}
.termekek-egyben .termekek .termek{
	margin-left:20px;
	text-decoration:none;
	margin-bottom:20px;
	display:flex;
	flex-flow:column;
	justify-content: center;
	align-items: center;
	flex: 1 0 21%;
}
.termekek-egyben .oldal-valto-gombok{
	display:flex;
	flex-flow:row;
	align-items:center;
	justify-content:center;
}
.termekek-egyben .oldal-valto-gombok .kovetkezo{
	margin-left:10px;
}
.termekek-egyben .oldal-valto-gombok a{
	color:blue;
	text-decoration:none;
}
.termekek-egyben .oldal-valto-gombok a:hover{
	text-decoration:underline;
	cursor:pointer;
}

/*TERMEK*/
.termek-egyben {
	display: flex;
	background-color:white;
	margin-top:10%;
	margin-left:28%;
	width:800px;
	justify-content: center;
	align-items: center;
}
.termek-egyben div{
	padding-left:20px;
}
.termek-egyben .nev {
	font-size: 34px;
	font-weight: normal;
	margin-left:40px;
	padding: 20px 0 10px 0;
}
.termek-egyben .ar {
	display: block;
	font-size: 22px;
	color: orangered;
	margin-left:40px;
}
.termek-egyben .akcio_ar {
	color: black;
	text-decoration: line-through;
	font-size: 18px;
	padding-left: 5px;
}
.termek-egyben form {
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
.termek-egyben form .termek-raktaron{
	display: block;
	color: green;
	font-size:20px;
	margin-left:40px;
}
.termek-egyben form .termek-nincs-raktaron{
	display: block;
	color: red;
	font-size:20px;
	margin-left:40px;
}
.termek-egyben img {
	margin-left: 30px;
}
.termek-egyben form input[type="number"] {
	width: 100px;
	padding: 10px;
	margin-bottom: 15px;
	margin-left:40px;
	border: 1px solid grey;
	color: gray;
	border-radius: 5px;
}
.termek-egyben form input[type="submit"] {
	background: orangered;
	border: 0;
	color: white;
	width: 122px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	margin-left:40px;
}
.termek-egyben form input[type="submit"]:hover {
	background: blue;
}
.termek-egyben .leiras {
	margin-left:25px;
	margin-bottom:10px;
}
.termek-egyben .nagyitas:hover{
	transform: scale(1.3);
	transition: transform 0.5s;	
}

/*HASONLO TERMEKEK*/
.hasonlo-termekek{
	margin-top:30px;
	display: flex;
	flex-flow:row;
	background-color:white;
	margin-left:20%;
	width:1200px;
	justify-content: center;
	align-items: center;
}
.hasonlo-termekek .hasonlo-termek{
	display:flex;
	flex-flow:row;
	margin: 20px 0 10px 10px;
	justify-content: center;
	align-items: center;
}
.hasonlo-termekek .hasonlo-termek h3{
	font-size:11pt;
}
.hasonlo-termekek .hasonlo-termek a{
	display:flex;
	flex-flow:column;
	color:orangered;
	text-decoration:none;
	margin-left:20px;
	padding: 0 0 0 0;
	justify-content: center;
	align-items: center;
}
.hasonlo-termekek .hasonlo-termek .ar{
	font-size:10pt;
}
.hasonlo-termekek .hasonlo-termek .ar .akcio_ar{
	font-size:7pt;
	color: black;
	text-decoration: line-through;
}
.hasonlo-termekek .hasonlo-termek a:hover{
	text-decoration: underline;
	color:blue;
}
.hasonlo-termekek .hasonlo-termek img:hover{
	transform: scale(1.1);
	transition: transform 0.5s;
}

