@import url("main.css");
#adataid{
	margin-top: 100px;
	margin-left: 900px;
	font-size:20pt;
}
.profil-osszefogo{
	display:flex;
	flex-flow:column;
	width: 800px;
	background-color: white;
	margin-top: 40px;
	margin-left:550px;
	align-items: center;
	justify-content:center;
}
.profil-osszefogo form{
	margin-bottom:20px;
}
.profil-osszefogo form input[type="submit"]{
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: gray;
	color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
.profil-osszefogo form input[type="submit"]:hover{
	background: orangered;
}
/*mobil css*/
@media screen and (max-width: 900px) {
	#adataid{
	margin-left: 40%;
	font-size:14pt;
}
.profil-osszefogo{
	width: 100%;
	margin-top: 40px;
	margin-left:0;
	font-size:6pt;
}
.profil-osszefogo form{
	margin-bottom:20px;
}
.profil-osszefogo form input[type="submit"]{
	padding: 8px 16px;
	font-size: 9pt;
}
}