@import "main.css";
form{
    background-color: white;
    display: inline-block;
    position: absolute;
    top:35%;
    left: 40%; 
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    }
form input[type = submit]{
	margin-top: 10px;
	margin-left: 25px;
	padding: 12px 20px;
	border: 0;
	background: gray;
	color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
form input[type = submit]:hover{
	background:orangered;
}
/*mobil css*/
@media screen and (max-width: 900px) {
	#lablec{
	position:relative;
	margin-top:600px;	
	}
	form{
    top:20%;
    left: 0; 
    padding-left: 86px;
    padding-right: 86px;
    }
form input[type = submit]{
	margin-left: 35px;
	padding: 10px 18px;
	font-size: 10pt;
}
}