@import "main.css";
#szallitasiszoveg {
text-align: center;
margin-left: 700px;
margin-right: 700px;
font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:orangered;
}
#lablec{
	position:relative;
	margin-top:10px;
	text-align:center;
}
@media screen and (max-width: 900px) {
	#szallitasiszoveg {
		width: 100%;
		margin: 0;
		margin-top:20px;
	}
}